# Snippets for common NCBA  boilerplate.

snippet nnav
	abstract class $1 extends StatelessWidget {
		factory $1() {
			if (gWeb) return _$1Web();
			if (gIOS) return _$1IOS();
			return _$1Android();
		}
	}

$0
endsnippet
